@model OrganizationManagementTool.Models.FacultyModel

@{
    ViewData["Title"] = "AddFaculty";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<h1>Add Faculty</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form id="myForm" asp-action="AddFaculty"><!-- asp-action="AddFaculty" -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-4">
                    <a asp-action="FacultyList">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <input type="hidden" asp-for="Id" />
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Gender" class="control-label" tabindex="1" , title="M/F"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="DeptId" class="control-label"></label>
                    @*@Html.DropDownList("DeptId", new SelectList(ViewBag.DeptList, "Id", "DeptName"), new { @class = "form-control"})*@
                    <select asp-for="DeptId" class="form-control" asp-items="@(new SelectList(ViewBag.DeptList,"Id","DeptName"))"></select>
                    <span asp-validation-for="DeptId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="text-align: center;">
                    <input type="submit" value="Submit" class="btn btn-primary" @*onclick="return AddUpdateFaculty()"*@ />
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>
        function AddUpdateFaculty()
        {
            var newUrl= '@Url.Action("FacultyList", "Faculty")';
            $.ajax({
                type: "POST",
                url: '/Faculty/AddFaculty',     //your action
                data: $('#myForm').serialize(),   //your form name.it takes all the values of model
                dataType: 'json',
                success: function (result) {
                    if (result.status = "success") {
                        window.location.href = result.redirectUrl;
                    }
                    else {
                        alert('Failed');
                    }
                    //window.location.href = newUrl;
                    //window.location.href = '/Faculty/FacultyList/';
                    //console.log(result);
                }
            });

            //var Model = new Object();
            //Model.ResId = $('#ResId').val();
            //Model.EmpId = $('#EmpId').val();
            //Model.Emp_Name = $('#Emp_Name').val();
            //Model.Mobile = $('#Mobile').val();
            //Model.DeptId = $('#DeptId').val();

            @*var Id = $('#Id').val();
            var Name = $('#Name').val();
            var Email = $('#Email').val();
            var Mobile = $('#Mobile').val();
            var Age = $('#Age').val();
            var Gender = $('#Gender').val();
            var DeptId = $('#DeptId').val();
            var DeptName = $('#DeptName').val();
            var formData = $('#myForm').serialize();
            var url = "@Url.Action("AddFaculty", "Faculty")";*@
            //var model = { Id: Id, Name: Name, Email: Email, Mobile: Mobile, Age: Age, Gender: Gender, DeptId: DeptId, DeptName: DeptName};
            //var model = formData;
            //$.post(url, model, function(res){
            //    //$("#SomeDivToShowTheResult").html(res);
            //    window.location.href = '/Faculty/FacultyList/';
            //});
        }

    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
